@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-background: #000000;
  --color-foreground: #f2ecca;
  --color-primary: #825593;
  --color-secondary: #f07e00;
  --color-tertiary: #dfff00;
  --color-neutral: #45547f;
  --color-error: #ef5457;

  --font-base: var(--font-space-mono);
  --font-logo: var(--font-rubik-lines);
}
