@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #f2ecca;
  --color-foreground: #000000;
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-tertiary: #000000;
  --color-neutral: #000000;
  --color-error: #ef5457;

  --font-base: var(--font-space-mono);
  --font-logo: var(--font-rubik-lines);
}

@layer theme {
  .dark {
    --color-background: #000000;
    --color-foreground: #f2ecca;
    --color-primary: #825593;
    --color-secondary: #f07e00;
    --color-tertiary: #dfff00;
    --color-neutral: #45547f;
    --color-error: #ef5457;
  }
}

@layer components {
  .nav-link-primary {
    @apply border-primary hover:bg-primary;
  }

  .nav-link-secondary {
    @apply border-secondary hover:bg-secondary;
  }

  .nav-link-tertiary {
    @apply border-tertiary hover:bg-tertiary;
  }

  .nav-link-neutral {
    @apply border-neutral hover:bg-neutral;
  }

  .nav-border-primary {
    @apply bg-primary;
  }

  .nav-border-secondary {
    @apply bg-secondary;
  }

  .nav-border-tertiary {
    @apply bg-tertiary;
  }

  .nav-border-neutral {
    @apply bg-neutral;
  }
}

@layer utilities {
  .toggle-icon {
    @apply text-foreground border-background hover:border-foreground rounded-full border-2 p-1;
  }
}
